.profile2__job {
  align-self: start;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 1024px) {
  .profile2__job {
    max-width: 280px;
  }
}

@media screen and (max-width: 768px) {
  .profile__job {
    max-width: 282px;
  }
}
