.form__saveButton {
  justify-content: center;
  width: 100%;
  width: 358px;
  height: 50px;
  background-image: url('./../../../../images/buttons/saveButton.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: transparent;
  padding: 0;
  margin: 18px 0 0;
  border: none;
  border-radius: 2px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.form__saveButton:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .form__saveButton {
    width: 238px;
    height: 46px;
  }
}
