.profile__name {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: semi-bold;
  font-size: 42px;
  line-height: 48px;
}

@media screen and (max-width: 888px) {
  .profile__name {
    font-size: 32px;
    line-height: 36px;
    text-align: center;
  }
}

@media screen and (max-width: 568px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
  }
}
